<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <% @result.each do |url| %>
		<img src="<%= url %>" <br />
	  <% end %>
   
   
   
  </body>
</html>